In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('genderheightweightshoe.csv')
df

   Person  height(in feet)  weight(in lbs)  foot size(in inches)
0    male             6.00             180                    12
1    male             5.92             190                    11
2    male             5.58             170                    12
3    male             5.92             165                    10
4  female             5.00             100                     6
5  female             5.50             150                     8
6  female             5.42             130                     7
7  female             5.75             150                     9

In [5]:
df.columns = ['gender', 'height', 'weight', 'foot size']
df

   gender  height  weight  foot size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

In [8]:
df.select_dtypes(include=['number']).mean()

height         5.63625
weight       154.37500
foot size      9.37500
dtype: float64

In [10]:
df.select_dtypes(include=['number']).mode()

   height  weight  foot size
0    5.92     150         12

In [11]:
df.select_dtypes(include=['number']).median()

height         5.665
weight       157.500
foot size      9.500
dtype: float64

In [12]:
df.select_dtypes(include=['number']).std()

height        0.333721
weight       28.962722
foot size     2.263846
dtype: float64

In [13]:
df.select_dtypes(include=['number']).var()

height         0.111370
weight       838.839286
foot size      5.125000
dtype: float64

In [15]:
df.select_dtypes(include=['number']).min()

height         5.0
weight       100.0
foot size      6.0
dtype: float64

In [16]:
df.select_dtypes(include=['number']).max()

height         6.0
weight       190.0
foot size     12.0
dtype: float64

In [17]:
firstquantile = df.select_dtypes(include=['number']).quantile(0.25)
firstquantile

height         5.48
weight       145.00
foot size      7.75
Name: 0.25, dtype: float64

In [18]:
secondquantile = df.select_dtypes(include=['number']).quantile(0.5)
secondquantile

height         5.665
weight       157.500
foot size      9.500
Name: 0.5, dtype: float64

In [19]:
thirdquantile = df.select_dtypes(include=['number']).quantile(0.75)
thirdquantile

height         5.92
weight       172.50
foot size     11.25
Name: 0.75, dtype: float64

In [20]:
fourthquantile = df.select_dtypes(include=['number']).quantile(1)
fourthquantile

height         6.0
weight       190.0
foot size     12.0
Name: 1.0, dtype: float64

In [21]:
iqr = thirdquantile - firstquantile
iqr

height        0.44
weight       27.50
foot size     3.50
dtype: float64

In [22]:
lower_bound_height = firstquantile['height'] - iqr['height'] * 1.5
print(lower_bound_height)
upper_bound_height = thirdquantile['height'] + iqr['height'] * 1.5
print(upper_bound_height)
lower_bound_weight = firstquantile['weight'] - iqr['weight'] * 1.5
print(lower_bound_weight)
upper_bound_weight = thirdquantile['weight'] + iqr['weight'] * 1.5
print(upper_bound_weight)
lower_bound_footsize = firstquantile['foot size'] - iqr['foot size'] * 1.5
print(lower_bound_footsize)
upper_bound_footsize = thirdquantile['foot size'] + iqr['foot size'] * 1.5
print(upper_bound_footsize)
# iqr['height'] * 1.5
# iqr['weight'] * 1.5
# iqr['foot size'] * 1.5

4.820000000000001
6.579999999999999
103.75
213.75
2.5
16.5

In [30]:
df[(df['height'] < lower_bound_height) | (df['height'] > upper_bound_height)]
df[(df['weight'] < lower_bound_weight) | (df['weight'] > upper_bound_weight)]
df[(df['foot size'] < lower_bound_footsize) | (df['foot size'] > upper_bound_footsize)]

Empty DataFrame
Columns: [gender, height, weight, foot size]
Index: []